/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define default_layer 0
#define navigation_layer 1
#define bluetooth_layer 2

&left_encoder { resolution = <1>; };
&right_encoder { resolution = <1>; };

/ {
  combos {
    compatible = "zmk,combos";
    combo_tilde { timeout-ms = <50>; key-positions = <0 1>; bindings = <&kp TILDE>; };
    combo_grave { timeout-ms = <50>; key-positions = <10 11>; bindings = <&kp GRAVE>; };

    combo_lt { timeout-ms = <50>; key-positions = <4 5>; bindings = <&kp LT>; };
    combo_gt { timeout-ms = <50>; key-positions = <6 7>; bindings = <&kp GT>; };

    combo_n1 { timeout-ms = <50>; key-positions = <1 13>; bindings = <&kp N1>; };
    combo_n2 { timeout-ms = <50>; key-positions = <2 14>; bindings = <&kp N2>; };
    combo_n3 { timeout-ms = <50>; key-positions = <3 15>; bindings = <&kp N3>; };
    combo_n4 { timeout-ms = <50>; key-positions = <4 16>; bindings = <&kp N4>; };
    combo_n5 { timeout-ms = <50>; key-positions = <5 17>; bindings = <&kp N5>; };
    combo_n6 { timeout-ms = <50>; key-positions = <6 18>; bindings = <&kp N6>; };
    combo_n7 { timeout-ms = <50>; key-positions = <7 19>; bindings = <&kp N7>; };
    combo_n8 { timeout-ms = <50>; key-positions = <8 20>; bindings = <&kp N8>; };
    combo_n9 { timeout-ms = <50>; key-positions = <9 21>; bindings = <&kp N9>; };
    combo_n0 { timeout-ms = <50>; key-positions = <10 22>; bindings = <&kp N0>; };

    combo_minus { timeout-ms = <50>; key-positions = <16 17>; bindings = <&kp MINUS>; };
    combo_plus { timeout-ms = <50>; key-positions = <18 19>; bindings = <&kp MINUS>; };
    
    combo_excl { timeout-ms = <50>; key-positions = <13 25>; bindings = <&kp EXCL>; };
    combo_at { timeout-ms = <50>; key-positions = <14 26>; bindings = <&kp AT>; };
    combo_pound { timeout-ms = <50>; key-positions = <15 27>; bindings = <&kp POUND>; };
    combo_dllr { timeout-ms = <50>; key-positions = <16 28>; bindings = <&kp DLLR>; };
    combo_prcnt { timeout-ms = <50>; key-positions = <17 29>; bindings = <&kp PRCNT>; };
    combo_caret { timeout-ms = <50>; key-positions = <18 34>; bindings = <&kp CARET>; };
    combo_amps { timeout-ms = <50>; key-positions = <19 35>; bindings = <&kp AMPS>; };
    combo_star { timeout-ms = <50>; key-positions = <20 36>; bindings = <&kp STAR>; };
    combo_semi { timeout-ms = <50>; key-positions = <21 37>; bindings = <&kp SEMI>; };
    combo_colon { timeout-ms = <50>; key-positions = <22 38>; bindings = <&kp COLON>; };
    
    combo_equal { timeout-ms = <50>; key-positions = <28 29>; bindings = <&kp EQUAL>; };
    combo_under { timeout-ms = <50>; key-positions = <34 35>; bindings = <&kp UNDER>; };
    
    combo_bluetooth { timeout-ms = <50>; key-positions = <41 48>; bindings = <&mo bluetooth_layer>; };
  };
  keymap {
    compatible = "zmk,keymap";

// key numbers
// ,-------------------------------------------.                              ,-------------------------------------------.
// |   0   (~) 1   |  2   |  3   |  4  (<) 5   |                              |  6  (>) 7   |  8   |  9   |  10 (`)  11   |
// |--------+---1--+---2--+---3--+---4--+---5--|                              |---6--+---7--+---8--+---9--+---0--+--------|
// |   12   |  13  |  14  |  15  |  16 (-) 17  |                              |  18 (+) 19  |  20  |  21  |  22  |   23   |
// |--------+---!--+---@--+---#--+---$--+---%--+-------------.  ,-------------+---^--+---&--+---*--+---;--+---:--+--------|
// |   24   |  25  |  26  |  27  |  28 (=) 29  |  30  |  31  |  |  32  |  33  |  34 (_) 35  |  36  |  37  |  38  |   39   |
// `----------------------+------+------+------+------+------|  |------+------+------+------+------+----------------------'
//                        |  40  |  41  |  42  |  43  |  44  |  |  45  |  46  |  47  |  48  |  49  |
//                        `----------|-----------------------'  `-----------------------|----------'
//                                   +----------------- bluetooth layer ----------------+
// base
// ,-------------------------------------------.                              ,-------------------------------------------.
// |  tab  (~)  Q  |   W  |   F  |   P (<)  B  |                              |   J (>)  L  |   U  |   Y  |   ' (`)  "    |
// |--------+---1--+---2--+---3--+---4--+---5--|                              |---6--+---7--+---8--+---9--+---0--+--------|
// | Ctrl ( |   A  |   R  |   S  |   T (=)  G  |                              |   M (_)  N  |   E  |   I  |   O  | Ctrl ) |
// |--------+---!--+---@--+---#--+---$--+---%--+-------------.  ,-------------+---^--+---&--+---*--+---;--+---:--+--------|
// | Shft [ |   Z  |   X  |   C  |   D (-)  V  |   {  | Del  |  |   \  |  }   |   K (+)  H  |   ,  |   .  |   /  | Shft ] |
// `----------------------+------+------+------+------+------|  |------+------+------+------+------+----------------------'
//                        | ESC  |      | Alt  |Space |  Gui |  | Gui  | Bspc | Alt  |      |  Ent |
//                        |      |   ^  |      |      |      |  |      |  Nav |      |  ^   |      |
//                        `----------|-----------------------'  `-----------------------|----------'
//                        - vol +    +----------------- bluetooth layer ----------------+   <-alt->

// navigation
// ,-------------------------------------------.                              ,-------------------------------------------.
// |        |      |      |      |      |      |                              |      |      |      |      |      |        |
// |--------+------+------+------+------+------|                              |------+------+------+------+------+--------|
// |        |      |      |      |      |      |                              | Left | Down | Up   | Right|      |        |
// |--------+------+------+------+------+------+-------------.  ,-------------+------+------+------+------+------+--------|
// |        |      |      |      |      |      |      |      |  |      |      |      |      |      |      |      |        |
// `----------------------+------+------+------+------+------|  |------+------+------+------+------+----------------------'
//                        |      |      |      |      |      |  |      |      |      |      |      |
//                        |      |      |      |      |      |  |      |      |      |      |      |
//                        `----------------------------------'  `----------------------------------'
//
// bluetooth
// ,-------------------------------------------.                              ,-------------------------------------------.
// |        |  1   |  2   |  3   |  4   |  5   |                              |      |      |      |      |      |        |
// |--------+------+------+------+------+------|                              |------+------+------+------+------+--------|
// |        |      |      |      |      |      |                              |      |      |      |      |      |        |
// |--------+------+------+------+------+------+-------------.  ,-------------+------+------+------+------+------+--------|
// |        |      |      |      |      |      |      | Clr  |  |      |      |      |      |      |      |      |        |
// `----------------------+------+------+------+------+------|  |------+------+------+------+------+----------------------'
//                        |      |      |      |      |      |  |      |      |      |      |      |
//                        |      |      |      |      |      |  |      |      |      |      |      |
//                        `----------------------------------'  `----------------------------------'

    default_layer {
      bindings = <
  &kp TAB   &kp Q &kp W &kp F &kp P &kp B                                                &kp J &kp L  &kp U     &kp Y   &kp SQT  &kp DQT
  &mt LCTRL LPAR &kp A &kp R &kp S &kp T &kp G                                                &kp M &kp N  &kp E     &kp I   &kp O    &mt RCTRL RPAR
  &mt LSHFT LBKT &kp Z &kp X &kp C &kp D &kp V   &kp LBRC  &kp DEL        &kp BSLH &kp RBRC   &kp K &kp H  &kp COMMA &kp DOT &kp FSLH &mt RSHFT RBKT
                   &kp ESC  &none  &kp LALT &kp SPACE &kp LGUI       &kp RGUI &lt navigation_layer BSPC   &kp RALT &none &kp RET

      >;

      sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp LA(LEFT) LA(RIGHT)>;
    };
    navigation_layer {
      bindings = <
  &trans   &trans &trans &trans &trans &trans                                            &trans   &trans   &trans &trans    &trans  &trans
  &trans   &trans &trans &trans &trans &trans                                            &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans  &trans
  &trans   &trans &trans &trans &trans &trans   &trans  &trans       &trans   &trans     &trans   &trans   &trans &trans    &trans  &trans
                          &trans  &trans  &trans &trans &trans       &trans   &trans     &trans &trans &trans

      >;
    };
    bluetooth_layer {
      bindings = <
  &none   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4                                            &none   &none   &none &none    &none  &none
  &none   &none &none &none &none &none                                            &none &none &none &none &none  &none
  &none   &none &none &none &none &none   &none  &bt BT_CLR       &none   &none     &none   &none   &none &none    &none  &none
                          &none  &trans  &none &none &none       &none   &none     &none &trans &none

      >;
    };
  };
};

// original keymap (for reference)
//  &kp ESC   &kp Q &kp W &kp E &kp R &kp T                                                &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSLH
//  &kp TAB   &kp A &kp S &kp D &kp F &kp G                                                &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
//  &kp LSHFT &kp Z &kp X &kp C &kp V &kp B &kp LSHFT &kp LSHFT        &kp LSHFT &kp LSHFT &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RCTRL
//                  &kp LGUI &kp DEL &kp RET &kp SPACE &kp ESC        &kp RET  &kp SPACE  &kp TAB &kp BSPC &kp RALT

